.App-header {
  background-color: black;
  width: 100vw;
  margin-left: 25%;
  margin-right: 25%;
} 

h1 {
  margin: 0;
  color:black;
}

.container {
  display: flex;
}

.item {
  flex: 1;
  padding: 10px;
  position: relative;
  border: 1px solid white;
  overflow: hidden;
}

.overlay {
  transition: bottom cubic-bezier(0.5, -0.01, 0.85, 1.6) 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: white;
  opacity: 0.8;
}

.item:hover .overlay {
  display: block;
  bottom: 0;
}

.App {
  text-align: center;
  display: flex;
  background-color: black;
}

.App-logo {
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}