.App {
  text-align: center;
  display: flex;
}

.container {
  display: flex;
  padding: 5px;
}

.item {
  align-content: center;
  margin: 30px;
}


.App-logo {
  width: 60%;
}

.App-link {
  color: #09d3ac;
}
